* {
    font-family: Arial;
}

.first_block {
    background-color: #1F2937;
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 50px;
}

.content .title {
    font-size: 48px;
    font-weight: 800;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px
}

.first_block .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-left: 16px;
    padding-right: 16px;
}

.first_block .content .right .image {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 70px;
    border-radius: 8px;
    margin: 30px;
    margin-right: 0
}

.first_block .content .left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
}

button {
    border-radius: 8px;
}

.first_block .content .left button {
    background-color: #3882F6;
    color: white;
    display: flex;
    width: 100px;
    padding: 10px;
    justify-content: center;
    font-weight: bold;
}

.second_block {
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px
}

.second_block .title {
    font-size: 36px;
    font-weight: 600;
    color: #1F2937;
}

.second_block .info .image {
    padding: 60px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 8px;
}

.second_block .info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.second_block .info .first, .second, .third, .fourth {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px
}

.second_block .info .subtext {
    display: flex;
    flex-wrap: wrap;
    width: 150px
}

.third_block {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.third_block .quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    max-width: 800px;
    flex-wrap: wrap;
}

.third_block .author {
    font-weight: bold;
    color: #1F2937;
    text-align: end;
    width: 700px;
}